.root {
  margin: 10px;
  .myInput {
    text-align: center;
    img {
      cursor: pointer;
      width: 90px;
      transition: scale 0.2s ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
    input {
      width: 100%;
      padding: 5px 15px;
      margin: 5px 0;
      border-radius: 10px;
      height: 40px;
      border: 4px solid #f38c8c;
      background-color: #fffacd;
      &:focus {
        border: 4px solid #f84040;
      }
    }
    h2 {
      margin: 20px 0;
      text-align: center;
    }
  }
}
