.root {
  border: 4px solid #f38c8c;
  margin: 10px;
  border-radius: 20px;
  background-color: #fffacd;
  height: 100%;
  .listWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .listText {
      margin: 10px;
      width: 600px;
      overflow: hidden;
    }
    .listBtn {
      margin: 10px;
    }
  }
}

@media (max-width: 500px) {
  .root {
    .listWrapper {
      display: block;
      .listText {
        width: 100%;
        margin: 0;
        padding: 5px;
      }
      .listBtn {
        margin: 10px;
      }
    }
  }
}
